{% extends 'base.html' %}



{% block title %}

	Сегодня в кино

{% endblock %}



{% block content_title %}

	В кинотеатрах Минска

{% endblock %}


{% block content %}


<div class="container" style="height: 100%; margin-top: 20px; margin-bottom: 20px;margin-left: 40%;">

	<form class="form-inline" method = "GET" style="padding-bottom: 40px; margin-left: 50px;">
		
		<input style="height: 25px;" type="date" placeholder="Дата" name="datefilm" value="{{datefilm}}"/>
		<button style="width: 150px; height: 30px;" type="submit">Посмотреть</button>
	</form>





	{%for movie in movies %}
	<ul style="margin-left: 50px;">
		<li>
			<p>{{movie}}</p>
		</li>

	</ul>
	{%endfor%}
</div>

{% endblock %}

