{% extends 'base.html' %}



{% block title %}

	Сегодня в кино

{% endblock %}



{% block content_title %}

	В кинотеатрах Минска

{% endblock %}


{% block content %}





<div class="container" style="height: 100%; margin-top: 20px; margin-bottom: 20px;margin-left: 40%;">
	
	<h3>Выбрать дату:</h3>
	<form method = "GET" style="padding-bottom: 20px;"><br>
 
    <input type="search" placeholder="YYYY/MM/DD" aria-label="Search" name = "datefilm" style="height: 30px; font-size: 16px;" value = "{{request.args.get('datefilm')}}">
     
    <button type="submit" style="width: 150px; height: 30px; font-size: 16px; border-radius: 4px;">Посмотреть</button>
	</form>   	
	
</div>

	{%for movie in movies %}
		<ul style="margin-left: 40%; margin-right: auto;">
			<li>
				<p>{{movie}}</p>
			</li>

		</ul>
	{%endfor%}

{% endblock %}

