{% extends 'base.html' %}



{% block title %}

	Задание

{% endblock %}



{% block content_title %}

	<h1 style="margin-left: 35%; margin-bottom: 30px;">
		Задание на дипломный проект
	</h1>

{% endblock %}


{% block content %}

<div class="content" style="margin-left: 30%;">
	<div class="row" style="font-size: 20px; margin-bottom: 20px; margin-left: 30px;">
				Создать : <br>
		<ul> веб-приложение на Flask</ul>
		<ul> бота для Telegram</ul>
	</div>	
	<div class="column">
		<div class="col-1" style="display: flex; float: left;">	
			<p style="width: 50%; font-size: 18px; margin-left: 30px;">
			Веб-приложение должно иметь главную страницу с блоками «курсы», «кино», «погода» <br>
			В курсах выводится курс евро, доллара российского рубля, гривны и злотого на текущую дату. <br>
			В погоде – короткая сводка погоды на сегодня: средняя температура + состояние (солнечно, дождь, етс) <br>	
			- Ссылки, каждая из которых ведет на отдельную страницу: - «погода» - «кино» - «деньги» <br>
			Страница «кино» отображает всю афишу фильмов на сегодня.
			Есть форма, имеющая поле «дата» и кнопку «посмотреть». Нажатие на кнопку выводит вместо списка фильмов на текущую дату список будущих премьер. Проверка на соответствие текущее + месяц вперед <br>
			«Погода» выводит полную погоду на сегодня в Минске: -максимальную, минимальную и среднюю температуру, время заката/рассвета, ветер, влажность, етс. Используйте или openweater или, если нет желания, какой-то другой источник данных. <br>
			Деньги же просто имеют список актуальных на сегодня валют а так же возможность посмотреть курс за выбранную дату до 01.07.2016. <br>
			Телеграм-бот принимает команды: <br>
			«погода», «кино сегодня» «курсы» <br>
			Отправляет, соответственно, текущий курс по 5 валютам. Кино – список сегодня. Погода -полный список на весь день.
			</p>
		</div>
	</div>
</div>
{% endblock %}